<html lang="ru" xmlns:th="http://www.thymeleaf.org" th:replace="
~{/layout :: layout(
~{/fragments/head_fragment :: headFragment},
~{/fragments/header_fragment :: headerFragment},
~{:: section},
~{/fragments/footer_fragment :: footFragment})
}">
<section>
    <div class="Middle">
        <div class="wrap">
            <main class="Middle-main">
                <h1 class="Middle-title">Авторы
                </h1>
                <div class="Section">
                    <div class="Authors">
                        <div class="Authors-links">
                            <a th:each="authorsList : ${authorsMap}" class="Authors-link"
                               th:href="'#' + ${#strings.toLowerCase(authorsList.key)}"
                               th:text="${authorsList.key}">letter</a>
                        </div>
                        <div class="Authors-block" th:each="authorsList : ${authorsMap}">
                            <h2 class="Authors-title" id="a" th:id="${#strings.toLowerCase(authorsList.key)}"
                                th:text="${authorsList.key}">Letter</h2>
                            <div class="Authors-letter">
                                <div th:each="author : ${authorsList.value}" class="Authors-item">
                                    <a href="/authors/slug.html"
                                       th:text="${author.getLastName() + ' ' + author.getFirstName()}">name</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
</section>
</body>
</html>