<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>My book shelf</title>
    <style>
        #root_container {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }

        #books {
            width: 50%;
            border-collapse: collapse;
        }

        table {
            margin: 25px;
        }

        th {
            text-align: left;
        }

        th, td {
            border-bottom: 1px solid #ddd;
        }
    </style>
</head>
<body>
<div id="root_container">
    <form method="post" th:action="@{/books/save}" th:object="${bookToSave}">
        <table>
            <tr>
                <td>
                    <input type="text" placeholder="Author name" th:field="*{authorName}">
                    <p th:if="${#fields.hasErrors('authorName')}">Wrong author's name!</p>
                </td>
                <td>
                    <input type="text" placeholder="Book title" th:field="*{title}">
                    <p th:if="${#fields.hasErrors('title')}">Wrong book's title!</p>
                </td>
                <td>
                    <input type="text" placeholder="Size (pages)" th:field="*{size}">
                    <p th:if="${#fields.hasErrors('size')}">Wrong book's size!</p>
                </td>
                <td>
                    <input type="submit" value="Save">
                </td>
            </tr>
        </table>
    </form>

    <form method="post" th:action="@{/books/remove}" th:object="${bookToDelete}">
        <table>
            <tr>
                <td>
                    <input type="text" placeholder="Id number" th:field="*{id}">
                    <p th:if="${#fields.hasErrors('id')}">Wrong id!</p>
                </td>
                <td>
                    <input type="text" placeholder="Author name" th:field="*{authorName}">
                    <p th:if="${#fields.hasErrors('authorName')}">Wrong author's name!</p>
                </td>
                <td>
                    <input type="text" placeholder="Book title" th:field="*{title}">
                    <p th:if="${#fields.hasErrors('title')}">Wrong book's title!</p>
                </td>
                <td>
                    <input type="text" placeholder="Size (pages)" th:field="*{size}">
                    <p th:if="${#fields.hasErrors('size')}">Wrong book's size!</p>
                </td>
                <td>
                    <input type="submit" value="Remove">
                </td>
            </tr>
        </table>
    </form>

    <form method="post" th:action="@{/books/filter}" th:object="${bookToFilter}">
        <table>
            <tr>
                <td>
                    <input type="text" placeholder="Author name" th:field="*{authorName}">
                    <p th:if="${#fields.hasErrors('authorName')}">Wrong author's name!</p>
                </td>
                <td>
                    <input type="text" placeholder="Book title" th:field="*{title}">
                    <p th:if="${#fields.hasErrors('title')}">Wrong book's title!</p>
                </td>
                <td>
                    <input type="text" placeholder="Size (pages)" th:field="*{size}">
                    <p th:if="${#fields.hasErrors('size')}">Wrong book's size!</p>
                </td>
                <td>
                    <input type="submit" value="Filter">
                </td>
            </tr>
        </table>
    </form>

    <table id="books">
        <tr>
            <th>id</th>
            <th>author</th>
            <th>title</th>
            <th>size</th>
        </tr>
        <tr th:each="book : ${bookList}">
            <td th:text="${book.id}"></td>
            <td th:text="${book.author}"></td>
            <td th:text="${book.title}"></td>
            <td th:text="${book.size}"></td>
        </tr>
    </table>

    <form method="post" th:action="@{/books/uploadFile}" enctype="multipart/form-data">
        <table>
            <tr>
                <td>
                    <input type="file" name="file">
                </td>
                <td>
                    <input type="submit" value="Upload">
                </td>
            </tr>
        </table>
    </form>

    <form method="post" th:action="@{/books/download}">
        <table>
            <tr>
                <td>
                    <input type="text" placeholder="File name (Copy name from list)" th:name="fileName">
                </td>
                <td>
                    <input type="submit" value="Download">
                </td>
            </tr>
        </table>
    </form>

    <table id="fileList">
        <tr>
            <th>Files from server:</th>
        </tr>
        <tr th:each="file : ${fileList}">
            <td th:text="${file}"></td>
        </tr>
    </table>

</div>
</body>
</html>