<html lang="ru" xmlns:th="http://www.thymeleaf.org" th:replace="
~{/layout :: layout(
~{/fragments/head_fragment :: headFragment},
~{/fragments/header_fragment :: headerFragment},
~{:: section},
~{/fragments/footer_fragment :: footFragment})
}">
<body class="Site">
<section>
    <div class="Middle">
        <div class="wrap">
            <main class="Middle-main">
                <div class="Section">
                    <div class="Section-header">
                        <h2 class="Section-title">О компании
                        </h2>
                    </div>
                    <div class="Slider-navigateWrap">
                        <div class="Slider-navigate">
                        </div>
                    </div>
                    <div class="Slider-load">
                        <div class="Slider-load-text">Идет загрузка данных
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
</section>
</body>
</html>